<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../img/icon01.ico">
    <title>Nakama News - Registro</title>
</head>
<body>
    <!--HEADER-->
    <header>
        <div>
            <h1>Noticias Sobre One Piece</h1>
            <h2>Bienvenidos a las noticias relacionadas sobre lo que esta pasando en el mundo de One Piece</h2>
        </div>
    </header>
    <!--NAVBAR-->
    <nav class="formnav">
        <a href="../../index.html">Inicio</a>
        <a href="historia.html">Historia</a>
        <a href="formulario_de_registro.html">Registro</a>
        <a href="https://monoschinos2.com/anime/one-piece-sub-espanol" rel="noopener" target="_blank">Ver en vivo</a>
    </nav>
    <!-- formulario -->
    <form action="">
        <fieldset>
            <legend>Formulario de registro</legend>
            <label for="nombre">Nombre</label>
            <input type="text" name="name" id="nombre">
            <label for="apellido">Apellido</label>
            <input type="text" name="last name" id="apellido">
            <label for="genero">Género</label>
            <select name="genero" id="genero">
                <option value=""></option>
                <option value="male">Masculino</option>
                <option value="famale">Femenino</option>
                <option value="other">Otro</option>
            </select>
            <label for="usuario">Usuario</label>
            <input type="text" name="user" id="usuario">
            <label for="email">Email</label>
            <input type="email" name="mail" id="email">
            <label for="contraseña">Contraseña</label>
            <input type="password" name="pass" id="contraseña">
            <label for="fecha">Fecha de nacimiento</label>
            <input type="date" name="date" id="fecha">
            <input type="submit" value="Registrarse">
            <input type="reset" value="borrar">
        </fieldset>
    </form>
    <!-- footer -->
    <footer>
        <p>&copy; Eiichirō Oda. &copy; Toei Animation.</p>
    </footer>
</body>
</html>