<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="../img/icon01.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nakama News</title>
</head>
<body>
    <!-- NAVBAR BOOTTRAP-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">Nakama News</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                    <a class="nav-link" href="historia.html">Historia</a>
                    <a class="nav-link" href="formulario_de_registro.html" rel="noopener" target="_blank">Registro</a>
                    <a class="nav-link" href="https://monoschinos2.com/anime/one-piece-sub-espanol" rel="noopener" target="_blank">Ver anime en vivo</a>
                    <a class="nav-link" href="https://mangaplus.shueisha.co.jp/titles/200016" rel="noopener" target="_blank">Leer manga en vivo</a>
                </div>
            </div>
        </div>
    </nav>
    <!--HEADER-->
    <header>
        <div>
            <h1>Noticias Sobre One Piece</h1>
            <h2>Bienvenidos a las noticias relacionadas sobre lo que esta pasando en el mundo de One Piece</h2>
        </div>
    </header>
    <!-- PRINCIPAL -->
    <div class="principal">
        <aside>
            <h2 class="d">FIGURAS OFICIALES</h2>
            <a href="https://www.banpresto.es/figuras-one-piece/" rel="noopener" class="image" target="_blank"><img src="../img/BANPRESTO_logo.png" alt="logo banpresto"></a>
            <p>TODAS LA FIGURAS OFICIALES DE ONE PIECE EN UN SOLO LUGAR</p>
            <h2 class="d">DESTACADAS</h2>
            <h3 class="asidetitle">FIGURA MONKEY D. LUFFY THE SHUKKO ONE PIECE 14CM</h3>
            <a href="https://www.banpresto.es/producto/figura-monkey-d-luffy-the-shukko-one-piece-14cm/" rel="noopener" class="image" target="_blank"><img src="../img/figura01.jpg" alt="figura de luffy"></a>
            <p>Banpresto presenta la figura de Monkey D. Luffy The Shukko, del popular manga y anime “One Piece”. Esta figura está hecha en PVC mide unos 14 cm de alto e incluye una base soporte especial para exposición.</p>
            <h3 class="asidetitle">FIGURA THE RORONOA ZORO ONE PIECE MASTER STARS PIECE 26CM</h3>
            <a href="https://www.banpresto.es/producto/figura-zoro-one-piece-master-stars-piece/" rel="noopener" class="image" target="_blank"><img src="../img/figura02.jpg" alt="figura de zoro"></a>
            <p>Banpresto para la colección Chronicle Master Stars Piece presenta la figura de The Roronoa Zoro, del popular manga y anime “One Piece”. Esta figura está hecha en PVC mide unos 26 cm de alto e incluye una base soporte especial para exposición.</p>
            <h3 class="asidetitle">FIGURA SANJI ONE PIECE DXF THE GRANDLINE MEN 17CM</h3>
            <a href="https://www.banpresto.es/producto/figura-sanji-one-piece-dxf-the-grandline-men-2/" rel="noopener" class="image" target="_blank"><img src="../img/figura03.jpg" alt="figura de sanji"></a>
            <p>Banpresto presenta la figura de Sanji, de la popular manga y anime “One Piece”. Se trata de una figura de PVC que mide 17 cm e incluye una base de exposición.</p>
            <h3 class="asidetitle">ICHIBANSHO FIGURA SABO (THE FLAMES OF REVOLUTION) ONE PIECE 24CM</h3>
            <a href="https://www.banpresto.es/producto/ichibansho-figura-sabo-the-flames-of-revolution-one-piece-24cm/" rel="noopener" class="image" target="_blank"><img src="../img/figura05.jpg" alt="figura de sabo"></a>
            <p>Banpresto nos presenta la encantadora figura de Sabo de la colección Ichibansho One Piece (The Flames Of Revolution). Figura de 24 cm de altura cuya principal característica es la especial recreación de los detalles del traje de Sabo y de su pose. Además, al ser una figura de la colección Ichibansho, la hace muy coleccionable e ideal para ponerla al lado del resto de personajes que integran esta colección.</p>
            <h3 class="asidetitle">FIGURA PORTGAS D. ACE III ONE PIECE BANPRESTO CHRONICLE KING OF ARTIST 20CM</h3>
            <a href="https://www.banpresto.es/producto/figura-portgas-d-ace-iii-one-piece-banpresto-chronicle-king-of-artist-20cm/" rel="noopener" class="image" target="_blank"><img src="../img/figura06.jpg" alt="figura de ace"></a>
            <p>Banpresto para la colección Banpresto Chronicle King Of Artist presenta la figura de The Portgas D Ace III, del popular manga y anime “One Piece”. Esta figura está hecha en PVC mide unos 20 cm de alto e incluye una base soporte especial para exposición.</p>
            <h3 class="asidetitle">FIGURA NICO ROBIN ONE PIECE SWEET STYLE PIRATES 23CM</h3>
            <a href="https://www.banpresto.es/producto/figura-nico-robin-one-piece-sweet-style-pirates-23cm/" rel="noopener" class="image" target="_blank"><img src="../img/figura07.jpg" alt="figura de robin"></a>
            <p>Banpresto nos presenta la encantadora figura de la colección Sweet Style Pirates de Nico Robin (Ver.B) de One Piece. Figura de 23 cm de altura cuya principal característica es la especial recreación del traje de Nico y su encantadora pero sexy pose.</p>
            <h3 class="asidetitle">FIGURA ICHIBANSHO KAWAMATSU ONE PIECE NINE RED</h3>
            <a href="https://www.banpresto.es/producto/figura-ichibansho-kawamatsu-nine-red-one-piece/" rel="noopener" class="image" target="_blank"><img src="../img/figura09.jpg" alt="figura de kawamatsu"></a>
            <p>Banpresto nos presenta la encantadora figura de Kawamatsu de la colección Ichibansho. Figura de 14 cm de altura cuya principal característica es la especial recreación de los detalles del traje de Kawamatsu y de su pose. Además, al ser una figura de la colección Ichibansho, la hace muy coleccionable e ideal para ponerla al lado del resto de personajes que integran esta colección.</p>
            <h3 class="asidetitle">FIGURA OTAMA ONE PIECE DXF THE GRANDLINE SERIES 12CM</h3>
            <a href="https://www.banpresto.es/producto/figura-otama-one-piece-dxf-the-grandline-series/" rel="noopener" class="image" target="_blank"><img src="../img/figura11.jpg" alt="figura de OTAMA"></a>
            <p>La colección The Grandline Series Wanokuni Vol.2 es una colección en la que Banpresto nos presenta un nuevo formato de figuras mucho más grande que el resto de las colecciones. En ella potenciamos el visual de la figura para que represente las cualidades de cada héroe haciendo que los acabados (traje, texturas, sombreado..) y la pose sean lo principal.</p>
        </aside>
        <main>
            <h2>La historia de One Piece, ¿de qué va este anime?</h2>
            <figure>
                <img src="../img/historia01.jpg" alt="los primeros mugiwaras">
                <figcaption>Los mugiwaras antes del salto temporal.</figcaption>
            </figure>
            <p>One Piece es una serie manga que ha sido escrita e ilustrada por Eiichirō Oda publicada semanalmente en la revista japonesa Weekly Shōnen Jump desde el 22 de julio de 1997 y la cual ha logrado convertirse en la serie manga más popular y exitosa en toda la historia.</p>
            <h3>One Piece: La serie de manga más vendida de la historia</h3>
            <p>Esta serie actualmente tiene más de 20 años publicándose de manera continua, habiéndose publicado más de 98 volúmenes recopilatorios e inspirado una adaptación animada que realiza Toei Animation la cual es trasmitida por Fuji TV desde el 20 de octubre hasta el día de hoy.</p>
            <h5>Historia y argumento de One Piece</h5>
            <figure>
                <img src="../img/historia02.jpg" alt="los mugiwara despues de dos años">
                <figcaption>Los mugiwaras luego de los 2 años.</figcaption>
            </figure>
            <p>El legendario Gold D. Roger "El rey de los Piratas" sería ejecutado públicamente, pero antes de morir sus últimas palabras fueron que su tesoro, el One Piece, se encontraba escondido en algún lugar de Gran Line, y que cualquiera que lo encontrará, podría tomarlo como suyo. Sus palabras serían el inicio de la gran era de la piratería.</p>
            <p>Ahora, 22 años después, Monkey D. Luffy de 17 años ha decidido convertirse en pirata y salir en busca del One Piece para convertirse así en el "Rey de los Piratas".</p>
            <p>El protagonista de esta historia, Luffy y su gran ambición siempre ha sido convertirse en el Rey de los Piratas, así que para cumplir su sueño parte al mar en busca del One Piece, pero no podrá conseguirlo solo, por eso es que a lo largo de su viaje va en busca de compañeros que lo ayuden a cumplir su objetivo.</p>
            <h3>Personajes principales de la saga One Piece</h3>
            <p>Los Piratas de Sombrero de Paja son los protagonistas de One Piece, cada uno tiene un sueño el cual desea cumplir, pero solo podrán hacerlo si logran superar todas las pruebas que tiene el Grand Line para ellos.</p>
            <h5>Monkey D. Luffy</h5>
            <img src="../img/historia03.jpg" alt="Monkey D. Luffy">
            <p>Es el protagonista principal de One Piece y capitán de los Sombrero de paja, el cual salió hacia el mar para convertirse en el Rey de los Piratas. Es un joven muy valiente e intrépido que cuando era niño para probar su valor ante Shanks comió accidentalmente una de las Frutas del Diablo, la Gomu Gomu, la cual le convirtió en un hombre de goma.</p>
            <h5>Roronoa Zoro</h5>
            <img src="../img/historia04.jpg" alt="Roronoa Zoro">
            <p>Es un antiguo cazarrecompensas y espadachín que se uniría a Luffy cuando este se ganó su confianza, siendo así el primero de todos los Sombrero de Paja en unirse a la banda y convirtiéndose automáticamente el vice capitán. Su sueño es convertirse en el mejor espadachín del mundo, como juró que lo haría una vez ante su amiga Kuina.</p>
            <h5>Nami</h5>
            <img src="../img/historia05.jpg" alt="Nami">
            <p>Es una pirata y la navegante de los Piratas del Sombrero de Paja, así como una de las protagonistas principales de la serie. Viaja con Luffy luego de que este salvará su pueblo natal, Villa Cocoyasi, de las garras del pirata Gyojin Arlong, y ahora su sueño es hacer un mapa del mundo entero.</p>
            <h5>Usopp</h5>
            <img src="../img/historia06.jpg" alt="Usopp">
            <p>Es el francotirador de los Piratas de Sombrero de Paja y como Luffy siempre soñó con convertirse en pirata, pero lo que realmente quiere es ser un valeroso guerrero del mar como su padre.</p>
            <h5>Sanji</h5>
            <img src="../img/historia07.jpg" alt="Vismoke Sanji">
            <p>Conocido mundialmente por ser un cocinero experto y por las fuerzas de sus piernas que le valieron para ganarse el título de pierna negra, es un joven que se unió a Luffy con el fin de encontrar el All Blue, un mar legendario en el que se dicen se reúnen todas las especies marinas del mundo.</p>
            <h5>Chopper</h5>
            <img src="../img/historia08.jpg" alt="Tony Tony Chopper">
            <p>Tony Tony Chopper originalmente era un reno, pero luego de comer la Hito Hito no Mi se convirtió en humano. Se desempeña como el médico de la tripulación, pero además de esto también ha demostrado ser un guerrero muy capaz cuando se le necesita.</p>
            <h5>Nico Robin</h5>
            <img src="../img/historia09.jpg" alt="Nico Robin">
            <p>Es una mujer que desde niña fue apodada como demonio al ser la única superviviente del Clan de Ohara, quienes buscan la verdad del siglo vacío, como heredera de la voluntad de sus antepasados se unió a Luffy creyendo que viajando con él podría descubrirla, convirtiéndose así en la arqueóloga de la tripulación y una fuerza más, gracias a que comió la Hana Hana que le permite "florecer".</p>
            <h5>Franky</h5>
            <img src="../img/historia10.jpg" alt="Franky">
            <p>Es un cyborg (mitad androide, mitad humano) que lideraba la Familia Franky en Water 7, el cual era un grupo de desmanteladores de barcos y cazarrecompensas, pero que se uniría a Luffy y su tripulación para cruzar el Grand Line con el Thousand Sunny, un barco que crearía con un solo objetivo: sobrepasar al Oro Jackson.</p>
            <h5>Brook</h5>
            <img src="../img/historia11.jpg" alt="Brook">
            <p>Es el músico de los Piratas de Sombrero de Paja y un espadachín. Cuando aún vivía consumió la Yomi Yomi no Mi, por lo que después de morir se transformó en uno no-muerto con la apariencia de un esqueleto viviente. Alguna vez conoció a Laboon y le prometió que volvería a verse, cosa que ni la muerte podrá impedir.</p>
            <h5>Jinbe</h5>
            <img src="../img/historia12.jpg" alt="Jinbei">
            <p>Es un gyojin tiburón ballena que sirvió antiguamente como el capitán de los Piratas del Sol y como miembro de los Siete Guerreros del Mar (Shichibukai), pero que actualmente se desempeña como el timonel de los Piratas de Sombrero de Paja. Su sueño es el mismo que el de Fisher Tiger, su antiguo capitán, y este es la convivencia de los humanos con los habitantes del fondo del mar.</p>
            <h3>Éxito e influencia de One Piece</h3>
            <p>One Piece se ha convertido en el manga más exitoso de la historia. Más de 1000 millones de euros ha generado solo la serie manga la cual ha sido licenciada en más de 25 países, siendo su anime a la vez adquirido, licenciado y emitido alguna vez por las cadenas televisivas más relevantes.</p>
            <p>Sin embargo, ¿hasta dónde llega la influencia de One Piece? La serie escrita e ilustrada por Eiichirō Oda después de más de 1000 capítulos publicados en la revista de Shūeisha se ha convertido no solo en la serie manga que más ingresos ha generado, sino también en la más popular a nivel mundial, siendo conocida no solamente entre los niños, sino en toda clase de público aficionado a la cultura otaku.</p>
        </main>
    </div>
    <!-- footer -->
    <footer>
        <p>&copy; Eiichirō Oda. &copy; Toei Animation.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>