<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="../img/icon01.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nakama News</title>
</head>
<body>
    <!-- NAVBAR BOOTTRAP-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">Nakama News</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                    <a class="nav-link" href="historia.html">Historia</a>
                    <a class="nav-link" href="formulario_de_registro.html" rel="noopener" target="_blank">Registro</a>
                    <a class="nav-link" href="https://monoschinos2.com/anime/one-piece-sub-espanol" rel="noopener" target="_blank">Ver en vivo</a>
                    <a class="nav-link" href="https://mangaplus.shueisha.co.jp/titles/200016" rel="noopener" target="_blank">Leer manga en vivo</a>
                </div>
            </div>
        </div>
    </nav>
    <!--HEADER-->
    <header>
        <div>
            <h1>Noticias Sobre One Piece</h1>
            <h2>Bienvenidos a las noticias relacionadas sobre lo que esta pasando en el mundo de One Piece</h2>
        </div>
    </header>
    <!-- PRINCIPAL -->
    <div class="principal">
        <aside>
            <h2 class="d">FIGURAS OFICIALES</h2>
            <a href="https://www.banpresto.es/figuras-one-piece/" rel="noopener" class="image" target="_blank"><img src="../img/BANPRESTO_logo.png" alt="logo banpresto"></a>
            <p>TODAS LA FIGURAS OFICIALES DE ONE PIECE EN UN SOLO LUGAR</p>
            <h2 class="d">DESTACADAS</h2>
            <h3 class="asidetitle">FIGURA SANJI ONE PIECE DXF THE GRANDLINE MEN 17CM</h3>
            <a href="https://www.banpresto.es/producto/figura-sanji-one-piece-dxf-the-grandline-men-2/" rel="noopener" class="image" target="_blank"><img src="../img/figura03.jpg" alt="figura de sanji"></a>
            <p>Banpresto presenta la figura de Sanji, de la popular manga y anime “One Piece”. Se trata de una figura de PVC que mide 17 cm e incluye una base de exposición.</p>
            <h3 class="asidetitle">FIGURA TRAFALGAR LAW ONE PIECE THE SHUKKO 17CM</h3>
            <a href="https://www.banpresto.es/producto/figura-trafalgar-law-one-piece-the-shukko-17cm/" rel="noopener" class="image" target="_blank"><img src="../img/figura04.jpg" alt="figura de law"></a>
            <p>Banpresto presenta la figura de Trafalgar Law, del popular manga y anime “One Piece The Shukko”. Esta figura está hecha en PVC mide unos 17 cm de alto e incluye una base soporte especial para exposición.</p>
        </aside>
        <main>
            <article>
                <div class="card mb-3">
                    <img src="../img/1082_01.webp" class="card-img-top" alt="Momonosuke convertido en dragón">
                    <div class="card-body">
                        <h5 class="card-title">Episodio 1082 de One Piece: El valor de Momonosuke, Shanks muestra su Haki y Robin descubre el pasado de Wano.</h5>
                        <p class="card-text">Titulado ¡La llegada de la nueva era! The Red-Haired's Imperial Rage se estrenó el domingo 5 de noviembre de 2023. Este episodio en particular estableció adecuadamente a Momonosuke como un líder capaz de Wano, asumiendo el cargo de shogun tras la derota de kaido.</p>
                        <a href="noti04.html" class="reedmore btn-primary">Seguir leyando</a>
                    </div>
                </div>
            </article>
            <article>
                <div class="card mb-3">
                    <img src="../img/Ivankov01.webp" class="card-img-top" alt="Emporio Ivankov">
                    <div class="card-body">
                        <h5 class="card-title">Los fanáticos de One Piece han subestimado a Ivankov durante demasiado tiempo (y el capítulo 1097 lo demuestra).</h5>
                        <p class="card-text">Los spoilers del capítulo 1097 de One Piece han sacado a la luz la historia temprana del Ejército Revolucionario. Según la información revelada hasta ahora, es evidente que nuestra percepción de Emporio Ivankov necesita una reconsideración importante.</p>
                        <a href="noti05.html" class="reedmore btn-primary">Seguir leyendo</a>
                    </div>
                </div>
            </article>
            <article>
                <div class="card mb-3">
                    <img src="../img/zoro_y_kuma01.webp" class="card-img-top" alt="Zoro frente a kuma">
                    <div class="card-body">
                        <h5 class="card-title">Un nuevo significado a la escena entre Zoro y Kuma gracias al capitulo 1097 del manga.</h5>
                        <p class="card-text">El capítulo 1097 brindó una idea del pasado de Kuma, revelando su naturaleza compasiva y benevolente. Usando el poder de su fruta nikyu nikyu para curar a los ancianos pobres del Reino Sorbet eliminando el dolor de sus cuerpos y tomándolo todo él mismo.</p>
                        <a href="noti06.html" class="reedmore btn-primary">Seguir leyendo</a>
                    </div>
                </div>
            </article>
            <!-- boton de paginacion-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                    <a class="page-link" href="../../index.html" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="../../index.html">1</a></li>
                    <li class="page-item"><a class="page-link" href="noticias02.html">2</a></li>
                    <li class="page-item"><a class="page-link" href="noticias03.html">3</a></li>
                    <li class="page-item"><a class="page-link" href="noticias03.html" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
        </main>
    </div>
    <!-- footer -->
    <footer>
        <p>&copy; Eiichirō Oda. &copy; Toei Animation.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>