<!-- episodio 1080 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="../img/icon01.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nakama News - Episodio 1080</title>
</head>
<body>
    <!-- NAVBAR BOOTTRAP-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">Nakama News</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                    <a class="nav-link" href="historia.html">Historia</a>
                    <a class="nav-link" href="formulario_de_registro.html" rel="noopener" target="_blank">Registro</a>
                    <a class="nav-link" href="https://monoschinos2.com/anime/one-piece-sub-espanol" rel="noopener" target="_blank">Ver en vivo</a>
                </div>
            </div>
        </div>
    </nav>
    <!--HEADER-->
    <header>
        <div>
            <h1>Noticias Sobre One Piece</h1>
            <h2>Bienvenidos a las noticias relacionadas sobre lo que esta pasando en el mundo de One Piece</h2>
        </div>
    </header>
    <!-- PRINCIPAL -->
    <div class="principal">
        <aside>
            <h2 class="d">FIGURAS OFICIALES</h2>
            <a href="https://www.banpresto.es/figuras-one-piece/" rel="noopener" class="image" target="_blank"><img src="../img/BANPRESTO_logo.png" alt="logo banpresto"></a>
            <p>TODAS LA FIGURAS OFICIALES DE ONE PIECE EN UN SOLO LUGAR</p>
            <h3 class="asidetitle">FIGURA TRAFALGAR LAW ONE PIECE THE SHUKKO 17CM</h3>
            <a href="https://www.banpresto.es/producto/figura-trafalgar-law-one-piece-the-shukko-17cm/" rel="noopener" class="image" target="_blank"><img src="../img/figura04.jpg" alt="figura de law"></a>
            <p>Banpresto presenta la figura de Trafalgar Law, del popular manga y anime “One Piece The Shukko”. Esta figura está hecha en PVC mide unos 17 cm de alto e incluye una base soporte especial para exposición.</p>
            <h3 class="asidetitle">FIGURA SHANKS ONE PIECE FILM RED DXF THE GRANDLINE SERIES 17CM</h3>
            <a href="https://www.banpresto.es/producto/figura-shanks-one-piece-film-red-dxf-the-grandline-series-17cm/" rel="noopener" class="image" target="_blank"><img src="../img/figura12.jpg" alt="figura de shanks"></a>
            <p>Banpresto presenta la figura de Shanks, del popular manga y anime “One Piece Film Red Dxf The Grandline Series”. Esta figura está hecha en PVC mide unos 17 cm de alto e incluye una base soporte especial para exposición.</p>
            <h3 class="asidetitle">ICHIBANSHO FIGURA SABO (THE FLAMES OF REVOLUTION) ONE PIECE 24CM</h3>
            <a href="https://www.banpresto.es/producto/ichibansho-figura-sabo-the-flames-of-revolution-one-piece-24cm/" rel="noopener" class="image" target="_blank"><img src="../img/figura05.jpg" alt="figura de sabo"></a>
            <p>Banpresto nos presenta la encantadora figura de Sabo de la colección Ichibansho One Piece (The Flames Of Revolution). Figura de 24 cm de altura cuya principal característica es la especial recreación de los detalles del traje de Sabo y de su pose. Además, al ser una figura de la colección Ichibansho, la hace muy coleccionable e ideal para ponerla al lado del resto de personajes que integran esta colección.</p>
        </aside>
        <main>
            <h2>Episodio 1080: Luffy y su nueva recompensa, Tengu revela su identidad y Ryokugyu muestra el poder de su Fruta del Diablo.</h2>
            <figure>
                <img src="../img/1080_01.webp" alt="Luffy victorioso">
                <figcaption>Luffy despues de derrotar a Kaido</figcaption>
            </figure>
            <p>Titulado ¡Un banquete de celebración! Los nuevos emperadores del mar. En el exploramos las consecuencias de la batalla de Onigashima, que han disgustado mucho al Gobierno Mundial.</p>
            <h3>La llegada de un almirante a Wano</h3>
            <h5>La nueva recompensa de Monkey D. Luffy</h5>
            <figure>
                <img src="../img/1080_02.webp" alt="morgans redactando la noticia">
                <figcaption>Morgans a punto de publicar quienes son los nuevos emperadores del mar.</figcaption>
            </figure>
            <p>El episodio comienza con una toma de los Cinco Ancianos furiosos por la nueva imagen de recompensa de Luffy, que lo retrataba en su forma Gear 5. Estaban especialmente interesados en eliminar la 'D' de su nombre, aunque eso no fue posible porque no se pudo contactar con la imprenta.</p>
            <p>Morgans, presidente del World Economy News Paper, supervisó la impresión y distribución de esta noticia. Creía que durante estos tiempos cambiantes, era crucial difundir la verdad.</p>
            <p>Así, a través de él, el mundo se enteró de la derrota de Kaido y Big Mom, la infiltración del CP0 en Wano y otros eventos importantes. En respuesta a sus acciones, Luffy, Kid y Law se encontraron con una recompensa exorbitante de tres mil millones de berries colocadas en cada una de sus cabezas.</p>
            <h5>Robin se encuentra con Tenguyama</h5>
            <figure>
                <img src="../img/1080_03.webp" alt="tengu mostrando su rostro">
                <figcaption>Tengu-san revelando su identidad.</figcaption>
            </figure>
            <p>Durante el festival en curso en Wano, Robin se topó con otro Poneglyph dentro de la habitación donde Tenguyama Hitetsu había estado confinado durante años. Tenguyama luego reveló su verdadera identidad como Kozuki Sukiyaki, el padre de Kozuki Oden y ex Shogun de la tierra de Wano.</p>
            <p>Sukiyaki fue quien llevó a Orochi al poder. Consumido por la culpa por la muerte de su hijo y la transformación radical de su nación, contempló la posibilidad de quitarse la vida, aunque finalmente se abstuvo de hacerlo. Sin embargo, optó por no informar a los demás que todavía estaba vivo.</p>
            <p>Robin preguntó por Plutón, que se decía que estaba en Wano. Tengu, quien originalmente estaba sorprendida por su profundo conocimiento, admitió que el arma antigua realmente estaba ubicada allí.</p>
            <h5>El ataque de Ryokugyu</h5>
            <figure>
                <img src="../img/1080_04.webp" alt="Ryokugyu en la cantera de wano">
                <figcaption>Ryokugyu en la cantera de wano.</figcaption>
            </figure>
            <p>Mientras tanto en el antiguo campo de trabajo de excavación en Udon, el almirante Ryokugyu hizo una aparición explosiva. Tan pronto como Queen y los antiguos compañeros de Kaido se dieron cuenta de que era de la Marina y lo atacaron. Pero Ryokugyu tenía poco tiempo que perder, por lo que drenó sus cuerpos usando sus habilidades de Fruta del Diablo. El objetivo principal de Ryokugyu era capturar a Luffy para poder ganarse el reconocimiento y los elogios de Akainu.</p>
            <h5>Un nuevo Emperador del Mar</h5>
            <figure>
                <img src="../img/1080_05.webp" alt="Kid peleando con luffy">
                <figcaption>Kid enfadado con Luffy por la noticia sobre el.</figcaption>
            </figure>
            <p>En medio de las festividades en curso, Kid se acercó a Luffy con un cartel de búsqueda que mostraba su recompensa. El episodio terminó con la declaración de que Buggy, Barbanegra, Shanks y Sombrero de Paja son los nuevos Emperadores del Mar.</p>
        </main>
    </div>
    <!-- footer -->
    <footer>
        <p>&copy; Eiichirō Oda. &copy; Toei Animation.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
