<!-- episodio 1079 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="../img/icon01.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nakama News - Episodio 1079</title>
</head>
<body>
    <!-- NAVBAR BOOTTRAP-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">Nakama News</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                    <a class="nav-link" href="historia.html">Historia</a>
                    <a class="nav-link" href="formulario_de_registro.html" rel="noopener" target="_blank">Registro</a>
                    <a class="nav-link" href="https://monoschinos2.com/anime/one-piece-sub-espanol" rel="noopener" target="_blank">Ver en vivo</a>
                </div>
            </div>
        </div>
    </nav>
    <!--HEADER-->
    <header>
        <div>
            <h1>Noticias Sobre One Piece</h1>
            <h2>Bienvenidos a las noticias relacionadas sobre lo que esta pasando en el mundo de One Piece</h2>
        </div>
    </header>
    <!-- PRINCIPAL -->
    <div class="principal">
        <aside>
            <h2 class="d">FIGURAS OFICIALES</h2>
            <a href="https://www.banpresto.es/figuras-one-piece/" rel="noopener" class="image" target="_blank"><img src="../img/BANPRESTO_logo.png" alt="logo banpresto"></a>
            <p>TODAS LA FIGURAS OFICIALES DE ONE PIECE EN UN SOLO LUGAR</p>
            <h2 class="d">DESTACADAS</h2>
            <h3 class="asidetitle">FIGURA SANJI ONE PIECE DXF THE GRANDLINE MEN 17CM</h3>
            <a href="https://www.banpresto.es/producto/figura-sanji-one-piece-dxf-the-grandline-men-2/" rel="noopener" class="image" target="_blank"><img src="../img/figura03.jpg" alt="figura de sanji"></a>
            <p>Banpresto presenta la figura de Sanji, de la popular manga y anime “One Piece”. Se trata de una figura de PVC que mide 17 cm e incluye una base de exposición.</p>
            <h3 class="asidetitle">FIGURA OTAMA ONE PIECE DXF THE GRANDLINE SERIES 12CM</h3>
            <a href="https://www.banpresto.es/producto/figura-otama-one-piece-dxf-the-grandline-series/" rel="noopener" class="image" target="_blank"><img src="../img/figura11.jpg" alt="figura de OTAMA"></a>
            <p>La colección The Grandline Series Wanokuni Vol.2 es una colección en la que Banpresto nos presenta un nuevo formato de figuras mucho más grande que el resto de las colecciones. En ella potenciamos el visual de la figura para que represente las cualidades de cada héroe haciendo que los acabados (traje, texturas, sombreado..) y la pose sean lo principal.</p>
        </aside>
        <main>
            <h2>Episodio 1079: Los Cinco Ancianos están disgustados, Momonosuke organiza un banquete y Ryokugyu aparece en Wano</h2>
            <figure>
                <img src="../img/1079_01.webp" alt="el banquete">
                <figcaption>Los mugiwaras en al previa del gran banquete.</figcaption>
            </figure>
            <p>Titulado ¡Llega la mañana! ¡Luffy y los demás descansan!, no muestra que los Cinco Ancianos no estaban contentos al saber que Joy Boy había derrotado a Kaido, especialmente después de todos sus esfuerzos para evitar que tal evento sucediera.</p>
            <h5>Los Cinco Ancianos reaccionan</h5>
            <figure>
                <img src="../img/1079_02.webp" alt="Saturn, uno de los 5 ancianos">
                <figcaption>Gorasei Saturn pensando.</figcaption>
            </figure>
            <p>El episodio comienza con una toma de los cinco ancianos que estan insatisfecho con la situación en Wano, ya que no solo apareció Nika, sino que dos de los cuatro Emperadores del Mar fueron derrotados uno tras otro.</p>
            <p>Además, no podían controlar Wano enviando un ejército porque sus fronteras no habían sido abiertas. Luego, Gorosei pidió al CP0 que al menos capturara a Nico Robin.</p>
            <h5>Luffy y Zoro toman conciencia</h5>
            <figure>
                <img src="../img/1079_03.webp" alt="luffy comiendo">
                <figcaption>Luffy disfrutando del banquete.</figcaption>
            </figure>
            <p>Una semana después de que terminara la batalla de Onigashima, todavía había un aire de alegría en Wano, mientras Momonosuke, el nuevo shogun, había declarado que pronto se celebraría otro festival. Había una sensación de cambio, ya que la gente podía comer y beber más libremente y a los niños se les enseñaba la verdadera historia de Wano.</p>
            <p>En medio de esto, Luffy y Zoro recuperaron la conciencia y comenzaron a consumir cantidades masivas de comida y bebida. Momonosuke les informó que estaba esperando para dar un banquete una vez que despertaran.</p>
            <p>Después, todos se bañaron porque la oración de Yamato se había hecho realidad. Había hecho un voto a los dioses y a Buda de que no comería, bebería ni se bañaría hasta que Luffy y Zoro despertaran.</p>
            <h5>Una nueva amenaza se acerca a Wano</h5>
            <figure>
                <img src="../img/1079_04.webp" alt="Ryokugyu se aproxima">
                <figcaption>Ryokugyu se acerca a wano.</figcaption>
            </figure>
            <p>Mientras tanto, a Kid le preocupaba que alguien hubiera filtrado la noticia de la derrota de Kaido y Big Mom, y que ahora serían buscados como sucesores de los Emperadores del Mar. Law estuvo de acuerdo en que debían estar en guardia porque no podrían ver a sus enemigos. Esto se debe a que Wano estaba aislado del resto del mundo.</p>
            <p>El episodio terminó con una toma de Almirante. ryokugyu volando a Wano, a pesar de la advertencia del almirante de flota Akainu de no interferir más.</p>
        </main>
    </div>
    <!-- footer -->
    <footer>
        <p>&copy; Eiichirō Oda. &copy; Toei Animation.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>