<!-- zoro y kuma -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="../img/icon01.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nakama News - Zoro y Kuma</title>
</head>
<body>
    <!-- NAVBAR BOOTTRAP-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">Nakama News</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                    <a class="nav-link" href="historia.html">Historia</a>
                    <a class="nav-link" href="formulario_de_registro.html" rel="noopener" target="_blank">Registro</a>
                    <a class="nav-link" href="https://monoschinos2.com/anime/one-piece-sub-espanol" rel="noopener" target="_blank">Ver en vivo</a>
                </div>
            </div>
        </div>
    </nav>
    <!--HEADER-->
    <header>
        <div>
            <h1>Noticias Sobre One Piece</h1>
            <h2>Bienvenidos a las noticias relacionadas sobre lo que esta pasando en el mundo de One Piece</h2>
        </div>
    </header>
    <!-- PRINCIPAL -->
    <div class="principal">
        <aside>
            <h2 class="d">FIGURAS OFICIALES</h2>
            <a href="https://www.banpresto.es/figuras-one-piece/" rel="noopener" class="image" target="_blank"><img src="../img/BANPRESTO_logo.png" alt="logo banpresto"></a>
            <p>TODAS LA FIGURAS OFICIALES DE ONE PIECE EN UN SOLO LUGAR</p>
            <h3 class="asidetitle">ICHIBANSHO FIGURA KOALA (THE FLAMES OF REVOLUTION) ONE PIECE 24CM</h3>
            <a href="https://www.banpresto.es/producto/ichibansho-figura-koala-the-flames-of-revolution-one-piece-24cm/" rel="noopener" class="image" target="_blank"><img src="../img/figura10.jpg" alt="figura de KOALA"></a>
            <p>Banpresto nos presenta la encantadora figura de Koala de la colección Ichibansho One Piece (The Flames Of Revolution). Figura de 24 cm de altura cuya principal característica es la especial recreación de los detalles del traje de Koala y de su pose. Además, al ser una figura de la colección Ichibansho, la hace muy coleccionable e ideal para ponerla al lado del resto de personajes que integran esta colección.</p>
            <h3 class="asidetitle">FIGURA ICHIBANSHO KAWAMATSU ONE PIECE NINE RED</h3>
            <a href="https://www.banpresto.es/producto/figura-ichibansho-kawamatsu-nine-red-one-piece/" rel="noopener" class="image" target="_blank"><img src="../img/figura09.jpg" alt="figura de kawamatsu"></a>
            <p>Banpresto nos presenta la encantadora figura de Kawamatsu de la colección Ichibansho. Figura de 14 cm de altura cuya principal característica es la especial recreación de los detalles del traje de Kawamatsu y de su pose. Además, al ser una figura de la colección Ichibansho, la hace muy coleccionable e ideal para ponerla al lado del resto de personajes que integran esta colección.</p>
        </aside>
        <main>
            <h2>Un nuevo significado a la escena entre Zoro y Kuma gracias al capitulo 1097 del manga.</h2>
            <figure>
                <img src="../img/zoro_y_kuma01.webp" alt="zoro a punto de sacrificarse por su capitan">
                <figcaption>Zoro en frente de todo el dolor y cansancio que kuma le saco a luffy.</figcaption>
            </figure>
            <p>El capítulo 1097 brindó una idea del pasado de Kuma, revelando su naturaleza compasiva y benevolente. Usando el poder de su fruta nikyu nikyu para curar a los ancianos pobres del Reino Sorbet eliminando el dolor de sus cuerpos y tomándolo todo él mismo. Esta burbuja de dolor es de similar tamaño a la que fue extraida del cuerpo de luffy en la actualidad y tuvo que soportar el mismo Zoro en el arco de Thriller Bark. Esta hazaña de Zoro se vuelve aún más encomiable si se considera el impacto perjudicial que tuvo en Kuma, que es un bucanero y tiene una resistencia más fuerte que los seres humanos normales.</p>
            <p>Kuma, siendo miembro de la carrera de los bucaneros, posee mayor resistencia que los humanos comunes. Es por eso que absorber el dolor de los ancianos fue menos dañino para él que Zoro enfrentando el dolor de Luffy durante Thriller Bark. Zoro ya estaba en sus límites cuando Kuma le dio la opción para reemplazar a Luffy y soportar su dolor. Incluso comentó que, dado el estado actual de Zoro, soportar esa magnitud de dolor seguramente lo mataría. Posteriormente, dejó que Zoro probara un poco la burbuja del dolor, lo que casi lo deja inconsciente.</p>
            <p>A pesar de las abrumadoras probabilidades, Zoro decidió resueltamente cargar con el dolor de Luffy, manteniéndose firme ante el dolor insoportable mientras la sangre brotaba de casi todas las partes de su cuerpo. Cuando Sanji finalmente encontró a Zoro, estaba parado en medio de un área empapada de sangre, inquebrantable e intacto.</p>
            <figure>
                <img src="../img/zoro_y_kuma02.png" alt="el sacrificio de zoro">
                <figcaption>Zoro ingresando a la burbuja de dolor de luffy.</figcaption>
            </figure>
            <p>Cuando Sanji le preguntó qué pasó, Zoro simplemente respondió: "No pasó nada," una cita que se ha convertido en una frase icónica en la historia de One Piece. El dolor que soportó fue solo suyo y nunca le dejó saber a Luffy sobre su sacrificio. Aunque cubierto de heridas mortales, Zoro actuó como un verdadero guerrero estoico.</p>
            <figure>
                <img src="../img/zoro_y_kuma03.webp" alt="zoro ensangrentado">
                <figcaption>Zoro luego de demostrar la lealtad a su capitán.</figcaption>
            </figure>
            <p>Es verdaderamente un milagro que Zoro sobreviviera a Thriller Bark, especialmente considerando que el mismo nivel de dolor fue suficiente para incapacitar a Kuma en su mejor momento. Por lo tanto, es innegable que Zoro es una fuerza formidable por derecho propio, que soporta el daño de oponentes poderosos como Mihawk, Kuma y Kaido y mantiene su determinación inquebrantable frente al dolor y la adversidad.</p>
            <p>El capítulo 1097 de One Piece ha demostrado que la determinación, la lealtad y el orgullo de Zoro como guerrero lo convierten en uno de los personajes más fuertes de la serie. Su ardiente voluntad de vivir y convertirse en el mejor espadachín del mundo lo obliga a seguir adelante y mostrarle al mundo lo que un verdadero Rey del Infierno puede lograr.</p>
            <figure>
                <img src="../img/zoro_y_kuma04.jpeg" alt="zoro herido version manga">
                <figcaption>Zoro diciendo que "no paso nada".</figcaption>
            </figure>
        </main>
    </div>
    <!-- footer -->
    <footer>
        <p>&copy; Eiichirō Oda. &copy; Toei Animation.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>