<!--capitulo 1083 anime -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="../img/icon01.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nakama News - Capitulo 1083</title>
</head>
<body>
    <!-- NAVBAR BOOTTRAP-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">Nakama News</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                    <a class="nav-link" href="historia.html">Historia</a>
                    <a class="nav-link" href="formulario_de_registro.html" rel="noopener" target="_blank">Registro</a>
                    <a class="nav-link" href="https://monoschinos2.com/anime/one-piece-sub-espanol" rel="noopener" target="_blank">Ver anime en vivo</a>
                    <a class="nav-link" href="https://mangaplus.shueisha.co.jp/titles/200016" rel="noopener" target="_blank">Leer manga en vivo</a>
                </div>
            </div>
        </div>
    </nav>
    <!--HEADER-->
    <header>
        <div>
            <h1>Noticias Sobre One Piece</h1>
            <h2>Bienvenidos a las noticias relacionadas sobre lo que esta pasando en el mundo de One Piece</h2>
        </div>
    </header>
    <!-- PRINCIPAL -->
    <div class="principal">
        <aside>
            <h2 class="d">FIGURAS OFICIALES</h2>
            <a href="https://www.banpresto.es/figuras-one-piece/" rel="noopener" class="image" target="_blank"><img src="../img/BANPRESTO_logo.png" alt="logo banpresto"></a>
            <p>TODAS LA FIGURAS OFICIALES DE ONE PIECE EN UN SOLO LUGAR</p>
            <h2 class="d">DESTACADAS</h2>
            <h3 class="asidetitle">FIGURA NICO ROBIN ONE PIECE SWEET STYLE PIRATES 23CM</h3>
            <a href="https://www.banpresto.es/producto/figura-nico-robin-one-piece-sweet-style-pirates-23cm/" rel="noopener" class="image" target="_blank"><img src="../img/figura07.jpg" alt="figura de robin"></a>
            <p>Banpresto nos presenta la encantadora figura de la colección Sweet Style Pirates de Nico Robin (Ver.B) de One Piece. Figura de 23 cm de altura cuya principal característica es la especial recreación del traje de Nico y su encantadora pero sexy pose.</p>
            <h3 class="asidetitle">FIGURA ICHIBANSHO ASHURA ONE PIECE NINE RED</h3>
            <a href="https://www.banpresto.es/producto/figura-ichibansho-ashura-nine-red-one-piece/" rel="noopener" class="image" target="_blank"><img src="../img/figura08.jpg" alt="figura de ashura"></a>
            <p>Banpresto nos presenta la encantadora figura de Ashura de la colección Ichibansho. Figura de 14 cm de altura cuya principal característica es la especial recreación de los detalles del traje de Ashura y de su pose. Además, al ser una figura de la colección Ichibansho, la hace muy coleccionable e ideal para ponerla al lado del resto de personajes que integran esta colección.</p>
            <h3 class="asidetitle">FIGURA ICHIBANSHO KAWAMATSU ONE PIECE NINE RED</h3>
            <a href="https://www.banpresto.es/producto/figura-ichibansho-kawamatsu-nine-red-one-piece/" rel="noopener" class="image" target="_blank"><img src="../img/figura09.jpg" alt="figura de kawamatsu"></a>
            <p>Banpresto nos presenta la encantadora figura de Kawamatsu de la colección Ichibansho. Figura de 14 cm de altura cuya principal característica es la especial recreación de los detalles del traje de Kawamatsu y de su pose. Además, al ser una figura de la colección Ichibansho, la hace muy coleccionable e ideal para ponerla al lado del resto de personajes que integran esta colección.</p>
        </aside>
        <main>
            <h2>Episodio 1083 de One Piece: Buggy establece el Cross Guild, Kid menciona a un individuo misterioso y Luffy está listo para zarpar.</h2>
            <img src="../img/1083_01.webp" alt="el Cross Guild">
            <p>Episodio 1083 de One Piece, titulado ¡El mundo que sigue adelante! Una nueva organización, Cross Guild, se lanzó el domingo 12 de noviembre de 2023 en Japón. El arco de Wano está casi llegando a su fin, y Luffy se ha establecido como un Emperador del mar. <br> Sin embargo, el episodio probablemente centrará la atención en las actividades de otro Emperador, Buggy. Lo que estaba en juego aumentó en el episodio anterior, donde se vio al Emperador Shanks en acción, usando solo su Haki para evitar que el Almirante Ryokugyu persiguiera a Luffy. <br> Al mismo tiempo, Robin descubrió la verdadera identidad de Tenguyama, localizó un Road Poneglyph, confirmó la presencia del arma antigua Plutón en Wano y profundizó en la historia de Wano. En el episodio 1083 de One Piece, los fanáticos pueden esperar ver toda esta información revelada. Sin embargo, lo más importante es que se verá a los de Sombrero de Paja descansados y preparados para su próxima aventura.</p>
            <h3>Los de Sombrero de Paja se preparan para abandonar Wano en el episodio 1083 de One Piece</h3>
            <h5>Carrot tiene una nueva responsabilidad</h5>
            <figure>
                <img src="../img/1083_02.webp" alt="carrot sonriendo">
                <figcaption>Carrot en el episodio 1083 de One Piece (Imagen vía Toei)</figcaption>
            </figure>
            <p>En el episodio 1083 de One Piece, Kinemon y Kiku se apresuraron a encontrarse con Raizo y Shinobu, quienes habían sido drenados por Ryokugyu. Sin embargo, no había nada que temer, ya que Chopper ya había comenzado a tratarlos. <br> Todos eran conscientes de que, sin Kaido, se podían esperar más infiltrados. Así, Inuarashi y Nekomamushi decidieron permanecer en Wano para proteger a Momonosuke. Entonces, designaron Pastel Tres Leches como el próximo gobernante del Ducado de Mokomo.</p>
            <h5>Sukiyaki conoce a sus nietos</h5>
            <figure>
                <img src="../img/1083_03.webp" alt="momonosuke, hiyori y su abuelo">
                <figcaption>Hiyori, Sukiyaki y Momonosuke como se ven en el episodio 1083 de One Piece (Imagen vía Toei)</figcaption>
            </figure>
            <p>Sukiyaki, que hasta ahora había permanecido disfrazado de Tenguyama, le reveló a Momonosuke y Hiyori que él es su abuelo. Los hermanos, al darse cuenta de que todavía tienen un familiar vivo, incluso después de la muerte de sus padres, rompieron a llorar. Luego, Sukiyaki solicitó que se le permitiera vivir de forma anónima.</p>
            <figure>
                <img src="../img/1083_04.webp" alt="franky sorprendido">
                <figcaption>Franky como se ve en el episodio 1083 de One Piece (Imagen vía Toei)</figcaption>
            </figure>
            <p>Robin informó a sus compañeros de tripulación que Pluton está en Wano. Franky fue el más sorprendido por la noticia porque había quemado los planos en Vestíbulo de Enies. Quedaba la pregunta de por qué Oden habría querido desatar esa antigua arma. Mientras tanto, Caribou escuchó la conversación y estaba ansioso por compartir la noticia con alguien, aunque su identidad no fue revelada en este episodio.</p>
            <h5>Los de Sombrero de Paja están listos para zarpar</h5>
            <figure>
                <img src="../img/1083_05.webp" alt="luffy, law y kid juntos">
                <figcaption>Law, Luffy y Kid como se ven en el episodio 1083 de One Piece (Imagen vía Toei Animation)</figcaption>
            </figure>
            <p>Unos días después, en el puerto de Tokage en Udon, Kid, Law y Luffy decidieron navegar aunque en direcciones diferentes. Kid reveló que el Emperador Buggy, con Crocodile y Mihawk como subordinados, había iniciado una empresa llamada gremio cruzado, que otorgó recompensas a los marines. Esto significaba que los soldados de la Armada, al igual que los piratas, tendrían que estar atentos a los cazarrecompensas. <br> Antes de partir, Kid expresó interés en perseguir a un hombre con una cicatriz de quemadura. Si bien Luffy no tenía idea de esta misteriosa persona, la expresión de Law se volvió sombría ante su mención. <br> En Flower Capital, donde Kin'emon y Momonosuke buscaron desesperadamente a los de Sombrero de Paja, antes de darse cuenta de que se habían ido sin encontrarse con ellos. Se encontran con Yamato en el camino, quien dijo que estaba listo para encontrarse con Luffy. También declaró su decisión de empezar a vivir como Oden.</p>
        </main>
    </div>
    <!-- footer -->
    <footer>
        <p>&copy; Eiichirō Oda. &copy; Toei Animation.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>