<!-- Emporio Ivankov -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="../img/icon01.ico">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Nakama News - Emporio Ivankov</title>
</head>
<body>
    <!-- NAVBAR BOOTTRAP-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">Nakama News</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="../../index.html">Inicio</a>
                    <a class="nav-link" href="historia.html">Historia</a>
                    <a class="nav-link" href="formulario_de_registro.html" rel="noopener" target="_blank">Registro</a>
                    <a class="nav-link" href="https://monoschinos2.com/anime/one-piece-sub-espanol" rel="noopener" target="_blank">Ver en vivo</a>
                </div>
            </div>
        </div>
    </nav>
    <!--HEADER-->
    <header>
        <div>
            <h1>Noticias Sobre One Piece</h1>
            <h2>Bienvenidos a las noticias relacionadas sobre lo que esta pasando en el mundo de One Piece</h2>
        </div>
    </header>
    <div class="principal">
        <aside>
            <h2 class="d">FIGURAS OFICIALES</h2>
            <a href="https://www.banpresto.es/figuras-one-piece/" rel="noopener" class="image" target="_blank"><img src="../img/BANPRESTO_logo.png" alt="logo banpresto"></a>
            <p>TODAS LA FIGURAS OFICIALES DE ONE PIECE EN UN SOLO LUGAR</p>
            <h2 class="d">DESTACADAS</h2>
            <h3 class="asidetitle">FIGURA SHANKS ONE PIECE FILM RED DXF THE GRANDLINE SERIES 17CM</h3>
            <a href="https://www.banpresto.es/producto/figura-shanks-one-piece-film-red-dxf-the-grandline-series-17cm/" rel="noopener" class="image" target="_blank"><img src="../img/figura12.jpg" alt="figura de shanks"></a>
            <p>Banpresto presenta la figura de Shanks, del popular manga y anime “One Piece Film Red Dxf The Grandline Series”. Esta figura está hecha en PVC mide unos 17 cm de alto e incluye una base soporte especial para exposición.</p>
            <h3 class="asidetitle">FIGURA YAMATO ONE PIECE DIORAMATIC 19CM</h3>
            <a href="https://www.banpresto.es/producto/figura-yamato-one-piece-dioramatic-19cm/" rel="noopener" class="image" target="_blank"><img src="../img/figura13.jpg" alt="figura de yamato"></a>
            <p>¡Añade la figura de Yamato de la colección Dioramatic de One Piece!</p>
            <p>Banpresto para la colección Dioramatic presenta la figura de Yamato, del popular manga y anime “One Piece”. Esta figura está hecha en PVC mide unos 19 cm de alto e incluye una base soporte especial para exposición.</p>
            <h3 class="asidetitle">FIGURA BUGGY ONE PIECE DXF THE GRANDLINE CHILDREN 13CM</h3>
            <a href="https://www.banpresto.es/producto/figura-buggy-one-piece-dxf-the-grandline-children/" rel="noopener" class="image" target="_blank"><img src="../img/figura14.jpg" alt="figura de BUGGY"></a>
            <p>Banpresto presenta para la nueva colección Grandline Children – Wanokuni Special Ver. la figura de Buggy, del popular manga y anime “One Piece”. Esta figura de PVC mide unos 13 cm de alto e incluye una base soporte para exposición.</p>
        </aside>
        <main>
            <h2>Los fanáticos de One Piece han subestimado a Ivankov durante demasiado tiempo (y el capítulo 1097 lo demuestra).</h2>
            <img src="../img/Ivankov01.webp" alt="Emporio Ivankov sorprendido">
            <p>Los spoilers del capítulo 1097 de One Piece han sacado a la luz la historia temprana del Ejército Revolucionario. Según la información revelada hasta ahora, es evidente que nuestra percepción de Emporio Ivankov necesita una reconsideración importante.</p>
            <p>Por lo general, el humor de Eiichiro Oda es una mezcla de payasadas y comedia situacional. También es conocido por presentar personajes con idiosincrasias que los hacen bastante divertidos. Sin embargo, hay casos en los que el humor puede resultar algo molesto. Un ejemplo de ello sería el exagerado chiste de Sanji sobre la hemorragia nasal durante el arco de la Isla Gyojin. En el caso de Ivankov, su personalidad sentimental, bulliciosa y excéntrica y su apariencia cómica pueden haber eclipsado su verdadera fuerza.</p>
            <h3>El capítulo 1097 deja en claro que Ivankov es uno de los pilares del Ejército Revolucionario</h3>
            <figure>
                <img src="../img/Ivankov02.webp" alt="Ivankov navegando">
                <figcaption>Ivankov luego de escapar de impel down.</figcaption>
            </figure>
            <p>Las recientes revelaciones en el capítulo 1097 de One Piece han arrojado nueva luz sobre el papel fundamental de emporio ivankov dentro del Ejército Revolucionario, desacreditando la noción de que es simplemente un subordinado. Actualmente, Sabo, conocido como el Emperador de la Llama, ocupa el estimado puesto de jefe de personal del Ejército Revolucionario. Esto significa que es el número dos de la organización. Sin embargo, antes del ascenso de Sabo, Ivankov solía ser la mano derecha de Dragon, y su amistad es bastante evidente en la serie.</p>
            <p>También se revela que Dragon e Ivankov, los líderes del Ejército Revolucionario, juntos orquestaron levantamientos en varias naciones, liberándolas de las garras de la corrupción del Gobierno Mundial. Los dos también fueron responsables de derrocar al monarca del Reino Sorbet donde reclutan a Kuma y Ginny.</p>
            <figure>
                <img src="../img/Ivankov03.webp" alt="Invankov inyectando hormonas">
                <figcaption>Invankov inyectando hormonas a luffy para que sane rapido.</figcaption>
            </figure>
            <p>Ivankov, la Reina del Reino de Kamabakka, hizo su aparición inicial en el capítulo 537 de One Piece mientras estaba confinado como prisionero en Impel Down. Desempeñó un papel crucial al salvar a Luffy de los efectos mortales del veneno de Magellan, orquestando su escape de Impel Down y facilitando su viaje a Marineford para rescatar a su hermano Ace. Los poderes de Ivankov son nada menos que notables, tanto en términos de fuerza física como de agilidad y resistencia. Es un formidable gran maestro del arte marcial Newkama Kenpo y es poseedor de la fruta Horu-Horu.</p>
            <p>Si bien su encuentro con Magallanes terminó en derrota, Ivankov fue verdaderamente una fuerza a tener en cuenta. Durante el tiempo que pasó en Marineford, se encontró con Kuma y afirmó que podría ser una amenaza ya que presumiblemente era más fuerte.</p>
            <figure>
                <img src="../img/Ivankov04.webp" alt="Ivankov pensando">
                <figcaption>Invankov al enterarse que luffy es hijo de Dragon.</figcaption>
            </figure>
            <p>Se reveló que Ivankov era capaz de derrotar a Crocodile, colocándolo al menos a la par con los Señores de la Guerra del Mar. También resistió el ataque del almirante akainu mientras protegía a Luffy durante la batalla en Marineford. Debido a que su fruta es del tipo paramecia, le permite crear una variedad de hormonas especiales capaces de cambiar el cuerpo de cualquier persona según sus caprichos.</p>
            <p>Este poder resulta invaluable para mejorar las capacidades de combate de Ivankov. Por ejemplo, la técnica característica de Ivankov, el Death Wink, se eleva a un nivel temible, conocido como Hell Wink, mediante la manipulación de estas hormonas.</p>
        </main>
    </div>
    <!-- footer -->
    <footer>
        <p>&copy; Eiichirō Oda. &copy; Toei Animation.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>